## Performing Hypothesis Testing on Amazon Reviews

### deciding whether rating/reviews has a significant relationship with purchasing likelihood.

In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [61]:
df = pd.read_csv("amazon_reviews.csv")

In [62]:
df.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [63]:
df.shape

(3150, 5)

In [64]:
df.isnull().sum()

rating              0
date                0
variation           0
verified_reviews    1
feedback            0
dtype: int64

In [65]:
df = df.dropna(subset=['verified_reviews'])

In [66]:
df.isnull().sum()

rating              0
date                0
variation           0
verified_reviews    0
feedback            0
dtype: int64

In [67]:
df.shape

(3149, 5)

In [68]:
df.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [69]:
columns_to_drop = ['date', 'variation']
df = df.drop(columns_to_drop, axis=1, inplace=False)

In [70]:
df

      rating                                   verified_reviews  feedback
0          5                                      Love my Echo!         1
1          5                                          Loved it!         1
2          4  Sometimes while playing a game, you can answer...         1
3          5  I have had a lot of fun with this thing. My 4 ...         1
4          5                                              Music         1
...      ...                                                ...       ...
3145       5  Perfect for kids, adults and everyone in betwe...         1
3146       5  Listening to music, searching locations, check...         1
3147       5  I do love these things, i have them running my...         1
3148       5  Only complaint I have is that the sound qualit...         1
3149       4                                               Good         1

[3149 rows x 3 columns]

In [73]:
pip install scipy

Requirement already satisfied: scipy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (1.11.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<1.28.0,>=1.21.6 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from scipy) (1.24.3)

In [74]:
from scipy.stats import ttest_ind

In [75]:
positive_reviews = df[df['rating'] >= 4]  
negative_reviews = df[df['rating'] < 4] 
 
t_stat, p_value = ttest_ind(positive_reviews['feedback'], negative_reviews['feedback'])

alpha = 0.05
 
print("T-statistic:", t_stat)
print("P-value:", p_value)

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant difference in purchase likelihood between positive and negative reviews.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in purchase likelihood between positive and negative reviews.")

T-statistic: 67.9226697123629
P-value: 0.0
Reject the null hypothesis. There is a significant difference in purchase likelihood between positive and negative reviews.

C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\scipy\stats\_axis_nan_policy.py:523: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, **kwds)